body {
  background-color: #495A6B;
}

/* City background properties */
.city {
  width: 512px;
  height: 512px;
  background-color: cadetblue;
  margin:auto;
  outline: 20px solid #28313A;
}

.title {
  height: 60px;
  margin-top: 60px;
  text-align: center;
}

h1 {
  font-family: 'VT323';
}

/* Light base */
.light {
    border-radius: 50%;
		position: "relative"; 
		width: 8px;
		height: 8px;
		margin-top: 2px;
		vertical-align: "middle";
		border-Radius: "100%";
		display: "block";
  }
  
.traffic-light {
    width: 12px;
    display: block;
  }
  
  /* Javascript Avenue lights */

  .JSTtrafNorth {
    position:relative;
    display: block;
    left: 248px;
    top: 169px;
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.JSTtrafSouth {
    position:relative;
    display: block;
    left:252px;
    top: 245px;
}

.JSPedNorthNE {
    position:relative;
    display: block;
    left:320px;
    top: 105px;    
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); 
}

.JSPedNorthNW {
    position:relative;
    display: block;
    left:180px;
    top: 85px;    
}

.JSPedSouthSE {
    position:relative;
    display: block;
    left:320px;
    top: 240px;    
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.JSPedSouthSW {
    position:relative;
    display: block;
    left:180px;
    top: 260px;
}

/* React Road Lights */

.RETrafEast {
    position:relative;
    display: block;
    left:323px;
    top:100px;
    -webkit-transform:rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.RETrafWest {
    position: relative;
    display: block;
    left:178px;
    top:34px;
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.REPedEastNE {
    position:relative;
    display: block;
    left:362px;
    top: 8px;    
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    
}

.REPedEastSE {
    position:relative;
    display: block;
    left:361px;
    top: 127px;    
    -webkit-transform:rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    
}

.REPedWestNW {
    position:relative;
    display: block;
    left:138px;
    bottom: 83px;    
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    
}

.REPedWestSE {
    position:relative;
    display: block;
    left:138px;
    top: 77px;    
    -webkit-transform:rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    
}